
.carousel-wrapper {
	max-width: 900px;
	margin: 0 auto;
	overflow: hidden;
}

.carousel-wrapper .picsum-img-wrapper {
	width: 100%;
	height: 300px; 
	overflow: hidden;
}

.carousel-wrapper .picsum-img-wrapper img {
	width: 100%;
	height: 100%;
	object-fit: cover; 
	display: block;
}

@media (max-width: 576px) {
	.carousel-wrapper .picsum-img-wrapper {
		height: 180px;
	}
}
